@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Oswald", sans-serif;
    background-color: #000000;
    scroll-behavior: smooth;
}

span.text-animation{
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383D52;
    text-transform: uppercase;
}

span.text-animation::before{
    content: attr(data-text);
    position: absolute;
    top: 16%;
    left: 0;
    width: 0%;
    height: 75%;
    color: #01FE87;
    -webkit-text-stroke: 0vw #383D52;
    border-right: 2px solid #01FE87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

